$color: green;
h1 {font-size: 24px}
h2 {font-size: 20px}
.btn {
		white-space: normal;
		border-color: $color;
		color:$color;
		font-size: 18px;
		font-weight: normal;
}
.header {margin: 0 0 2em 0}
.padd-20{
  padding: 0 20px 10px 0;
}
.full-width{
  width:100%;
}
.green-btn
{
  border-color: #5cb85c;
  color: #5cb85c;
  &:hover{
      background:#FFF;
      color:#5cb85c;
      border-color: #5cb85c;
  }
}
.padd-30{
  padding:30px 0;
}
a, a:hover{
	text-decoration: none;
	color:$color;
}
.back-to{
	margin: 1em 0 0 0;
	display: inline-block;
}
